<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Cycle Dependency Check</title>
  <script src="https://cdn.bootcss.com/echarts/4.1.0/echarts.min.js"></script>
</head>

<body style="width: 100%; height: 100%; position: absolute;">
  <div id="container" style="width: 100%;height: 100%;"></div>
  <script>
    var chart = echarts.init(document.getElementById('container'));

    var data = {{data}}

    var links = {{links}}

    // 指定图表的配置项和数据
    var option = {

      tooltip: {},
      animationDurationUpdate: 200,
      animationEasingUpdate: 'quinticInOut',

      series: [
        {
          type: 'graph',
          layout: 'none',
          symbolSize: 20,
          roam: true,
          layout: "circular",
          focusNodeAdjacency: true,
          label: {
            normal: {
              show: false,
              fontSize: 10,
              position: "right",
            }
          },
          edgeSymbol: ['arrow'],
          edgeSymbolSize: [10],
          edgeLabel: {
            normal: {
              textStyle: {
                fontSize: 20
              }
            }
          },
          tooltip: {
            show: false
          },
          data: data,
          edgeLabel: {
            formatter: function (params) {
              return params.value || "";
            },
            fontSize: 10,
            show: true,
          },
          links: links,
          lineStyle: {
            opacity: 0.9,
            width: 2,
            curveness: 0.1
          }
        }
      ]
    };

    chart.setOption(option);
  </script>
</body>

</html>